<div id="topic" data-id="<%= id %>" class="card darken-1">
  <div class="card-content view">
    <p class="topicContent"><%= content %></p>
  </div>
  <textarea class="edit" value="<%= content %>"><%= content %></textarea>
  <div class="card-action">
    <a class="saveBtn" href="#">Save</a>
    <a class="removeBtn" href="#">Remove</a>
    <!-- <a class="writeBtn" href="#/joke/<%= id %>">Write</a> -->
   </div>
</div>
